@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

*{
    margin: 0px;
    color: #FFFFFF;
    padding: 0px;
}
header{
    box-sizing: border-box;
    width: 100%;
    height: 53px;
    border-bottom: 1px solid rgba(54, 54, 54, 0.2) ;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    
}
header h2{
    color: #363636;;
    font-size: 25px;
    user-select: none;
    margin-left: 22.29px;
}
header a{
    color: #363636;;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
}
header img{
    width: 28.44x;
    height: 13.54px;
    margin-right: 8px;
}
header #three{
    margin-right: 33px;
}
header #two{
    margin-right: 76.45px;
}
header #one{
    margin-right: 33px;
}

